<section id="navbar" [class]="open ? 'open' : 'closed'">
  <div class="menuButton" (click)="toggleMenuState()">
    <i class="material-icons" *ngIf="!open">menu</i>
    <i class="material-icons" *ngIf="open">close</i>
  </div>
  <div class="name">
    <span>{{hackathon}}</span>
  </div>
</section>
<section id="navbarSpacer"></section>
<section id="menu" [class]="open ? 'open' : 'closed'" >
  <a class="menuLink" routerLink="/" routerLinkActive="active" href="">
    <div class="menuItem">
        <i class="material-icons">home</i>
        <span>Home</span>
      </div>
  </a>
  <a class="menuLink" routerLink="/schedule" routerLinkActive="active" href="">
    <div class="menuItem">
        <i class="material-icons">event</i>
        <span>Schedule</span>
      </div>
  </a>
  <a class="menuLink" routerLink="/faq" routerLinkActive="active" href="">
    <div class="menuItem">
        <i class="material-icons">help</i>
        <span>FAQ</span>
      </div>
  </a>
</section>
