<section id="navbar" [class]="open ? 'open' : 'closed'">
  <div class="menuButton" (click)="toggleMenuState(null)">
    <i class="material-icons" *ngIf="!open">menu</i>
    <i class="material-icons" *ngIf="open">close</i>
  </div>
  <div class="name">
    <span>{{hackathon}}</span>
  </div>
</section>
<section id="navbarSpacer"></section>
<section id="menu" [class]="open ? 'open' : 'closed'">
  <div class="menuLink" (click)="toggleMenuState('/')">
    <div class="menuItem">
      <i class="material-icons">home</i>
      <span>Home</span>
    </div>
  </div>
  <div class="menuLink" (click)="toggleMenuState('/schedule')">
    <div class="menuItem">
      <i class="material-icons">event</i>
      <span>Schedule</span>
    </div>
  </div>
  <!-- <div class="menuLink" (click)="mentorRequest()">
    <div class="menuItem">
      <i class="material-icons">supervisor_account</i>
      <span>Request a Mentor</span>
    </div>
  </div>
  <div class="menuLink" (click)="checkMentorRequest()">
    <div class="menuItem">
      <i class="material-icons">check_box</i>
      <span>Check Request Status</span>
    </div>
  </div> -->
  <!-- <div class="menuLink" (click)="toggleMenuState('/sponsors')">
    <div class="menuItem">
      <i class="material-icons sponsors">favorite</i>
      <span>Sponsors</span>
    </div>
  </div> -->
  <div class="menuLink" (click)="toggleMenuState('/faq')">
    <div class="menuItem">
      <i class="material-icons">help</i>
      <span>FAQ</span>
    </div>
  </div>
</section>
