<app-navbar></app-navbar>
<div class="main">
  <h1>High School Students</h1>
  <span class="label">Complete and return the forms below to <font style="color: blue"> hackathon@cs.gsu.edu</font> </span>

  <div class="forms">
    <a href="http://dz7ki63akj7cw.cloudfront.net/files/hackgsu/parental_permission.pdf" target="_blank" class="parentalPermission">
      <i class="material-icons">person</i>
      <span>Parental Permission Slip</span>
    </a>
    <a href="http://dz7ki63akj7cw.cloudfront.net/files/hackgsu/highschool_attendance_slip.pdf" target="_blank" class="attendance">
      <i class="material-icons">school</i>
      <span>High School Attendance Slip</span>
    </a>
  </div>
</div>