<section id="schedule">
  <div class="dayController noDS">
    <div class="topfix"></div>
    <div class="container">
      <div class="otherDays">
        <span class="day" *ngFor="let day of otherDays" (click)="getDay(day)">{{day}}</span>
      </div>
      <div class="currentDay">
        <span class="day">{{currentDay}}</span>
        <span class="date">{{currentDate}}</span>
      </div>
    </div>
  </div>
  <div class="events">
    <div class="event" *ngFor="let event of eventsByDay">
      <div class="info">
        <div class="mainInfo">
          <span class="title">{{event.title}}</span>
          <span class="location">{{event.location ? event.location : 'Atlanta'}}</span>
        </div>
        <span class="description" *ngIf="event.description">{{event.description}}</span>
      </div>
      <div class="time">
        <div class="hour">{{event.hour}}</div>
        <div class="smallTime">
          <div class="minutes">{{event.minutes != 0 ? event.minutes : ''}}</div>
          <!-- <div class="minutes"> -->
            <!-- <span *ngIf="event.minutes != '0'">{{event.minutes}}</span> -->
          <!-- </div> -->
          <div class="period" *ngIf="event.period">{{event.period}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-navbar></app-navbar>