<section id="start" [class]="loadInOutAnimation()">


  <div class="main" id="info">
    <div class="logo" (click)="aboutToggle()">
      <div class="image">
        <img src="assets/img/logo.svg">
      </div>
      <div class="image">
        <img class="ncr" src="assets/img/ncr.svg">
      </div>
    </div>
    <div class="details">
      <span class="title light">H A C K&nbsp;
        <span class="reg">G S U </span>&nbsp;' 18</span>
      <span class="date">03.29 - 03.31</span>
    </div>

    <a id="vetek" href="https://vetekconsulting.com" class="poweredby">A Vetek Site</a>

  </div>


  <div class="main" id="actions">
    <div class="actionGroup">
      <div class="container">
        <div class="action registration">
          <a href="{{actionGroupActions[0]}}">
            <i class="material-icons blue">assignment</i>
            <span class="label">Register Now!</span>
          </a>
        </div>
        <div class="action schedule" (click)="goto('/schedule')">
          <div class="actionLink">
            <i class="material-icons">event</i>
            <span class="label">Schedule</span>
          </div>
        </div>

        <!-- <div class="action join">
          <a target="_blank" href="{{actionGroupActions[1]}}">
            <div class="actionLink">
              <i class="material-icons sponsors">favorite</i>
              <span class="label">Sponsor Us</span>
            </div>
          </a>
        </div> -->


        <!-- <div class="action contact" (click)="goto('/support')"> -->
        <div class="action contact">
          <a target="_blank" href="{{subGroupActions[1]}}">
            <div class="actionLink">
              <i class="material-icons">message</i>
              <!-- <span class="label">Hack Support</span> -->
              <span class="label">Join our Slack</span>
              <!-- <span class="description"></span> -->
            </div>
          </a>
        </div>
        <!-- <div class="action faq" (click)="goto('/faq')">
          <div class="actionLink">
            <i class="material-icons">help</i>
            <span class="label">Visit FAQ</span>
          </div>
        </div> -->

        <div class="action travel">
          <a target="_blank" href="{{actionGroupActions[3]}}">
            <i class="material-icons">airplanemode_active</i>
            <span class="label">Travel Reimbursement</span>
            <span class="description"></span>
          </a>
        </div>

        <!-- <div class="action travel">
          <a target="_blank" href="http://hackspurt.com/hackgsu/details">
            <i class="material-icons">supervisor_account</i>
            <span class="label">Request a Mentor</span>
            <span class="description"></span>
          </a>
        </div> -->


      </div>
    </div>


    <div class="subGroup">
      <div class="container">
        <div class="subGroupAction">
          <a target="_blank" href="{{subGroupActions[0]}}">
            <span class="label">Contact Us</span>
          </a>
        </div>
        <!-- <div class="subGroupAction">
          <a href="https://hackgsu3.typeform.com/to/KhjaZG" target="_blank">
            <span class="label">Travel Reimbursement</span>
          </a>
        </div> -->


        <!-- <div class="subGroupAction highschool">
          <a href="/highschool">
            <span class="label">High School Forms</span>
          </a>
        </div> -->
        <!-- <div class="subGroupAction">
          <a href="https://hackspurt.com/hackgsu/details">
            <span class="label">Request a Mentor</span>
          </a>
        </div> -->
        <div class="subGroupAction">
          <a href="/faq">
            <span class="label">Visit FAQ</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
<app-about *ngIf="aboutState" (click)="aboutToggle()"></app-about>
<section id="end"></section>
