<section id="start">
  
  
    <div class="main" id="info">
      <div class="logo">
            <img src="assets/img/logo.svg">
      </div>
      <div class="details">
          <span class="title light">H A C K&nbsp;<span class="reg">G S U </span>&nbsp;' 1 8</span>
          <span class="date">03.23 - 03.25</span>
      </div>

      <a id="vetek" href="https://vetekconsulting.com" class="poweredby">A Vetek Site</a>
      
    </div>


    <div class="main" id="actions">
      <div class="actionGroup">
        <div class="container">
            <div class="action registration">
                <a target="_blank" href="{{actionGroupActions[0]}}">
                  <i class="material-icons">assignment</i>
                  <span class="label">Register Now!</span>
                  <!-- <span class="description"></span> -->
                </a>
              </div>
        
              <div class="action join">
                <a target="_blank" href="{{actionGroupActions[1]}}">
                  <i class="material-icons">edit</i>
                  <span class="label">Sponsor Us!</span>
                  <!-- <span class="description">MUST BE A GSU STUDENT</span> -->
                </a>
              </div>
              
              <div class="action faq">
                <a target="" routerLink="/faq" routerLinkActive="active" href="">
                  <i class="material-icons">help</i>
                  <span class="label">Visit FAQ</span>
                  <!-- <span class="description"></span> -->
                </a>
              </div>
        
              <!-- <div class="action travel">
                  <a target="_blank" href="{{actionGroupActions[3]}}">
                    <i class="material-icons">airplanemode_active</i>
                    <span class="label">Travel Reimbursement Application</span>
                    <span class="description"></span>
                  </a>
              </div> -->

              <div class="action schedule">
                <a target="" routerLink="/schedule" routerLinkActive="active" href="">
                  <i class="material-icons">event</i>
                  <span class="label">Schedule</span>
                  <!-- <span class="description"></span> -->
                </a>
              </div>
        
            </div>
        </div>
          
      
      <div class="subGroup">
        <div class="container">
          <div class="subGroupAction">
            <a target="_blank" href="{{subGroupActions[0]}}">
              <span class="label">Contact Us</span>
            </a>
          </div>
          <div class="subGroupAction slack">
              <a target="_blank" href="{{subGroupActions[1]}}">
                <span class="label">Join Our Slack</span>
              </a>
            </div>
            <div class="subGroupAction registrationAlt">
                <a target="_blank" href="{{subGroupActions[2]}}">
                  <span class="label">Registration Issues</span>
                </a>
              </div>
        </div>
      </div>
  </div>

</section>
<section id="end"></section>